{% extends "admin/masterAdmin.html.twig" %}

{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/admin/car/list/','/admin/car/list/singlepage/');
        });
    </script>
    
{% endblock %}

{% block buttonAdd %}
    <a href="/admin/car/add"><input type="submit" name="addCar" value="+ Add Car"></input></a>
{% endblock %}

{% block table %}
    <h2>Cars</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Mileage</th>
                    <th>Engine Size</th>
                    <th>Production Year</th>
                    <th>Color</th>
                    <th>Default Location</th>
                    <th>Car Type</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                                      
            </tbody>
        </table>

        <div class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/admin/car/list/','/admin/car/list/singlepage/' )">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/admin/car/list/','/admin/car/list/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/admin/car/list/','/admin/car/list/singlepage/')">Next</span>
        </div>

    </div>

{% endblock %}