{% if categoryList %}
    {% for category in categoryList %}
        <tr>
            <td>{{category.categoryName}}</td>
            <td>{{category.passengersNo}}</td>
            <td>{{category.doorsNo}}</td>
            <td>{{category.costPerDay}}</td>   
            <td><a href="/admin/category/update/{{category.id}}"><img src="/image/edit.png" width="20", height="20"></a>
                <a href="/admin/category/delete/{{category.id}}" class="confirmation"><img src="/image/delete.jpg" width="20", height="20"></a>
            </td>                         
        </tr>
    {% endfor %}            
{% endif %}  