{% extends "admin/master.html.twig" %}

{% block title %}Delete Category{% endblock %}

{% block content %}
    <h3>Delete category</h3>
        Category name: {{ category.categoryName }}<br> 
        Passengers Number: {{category.passengersNo}}</br>   
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the category">
        </form>
        <a href="/admin/category/list">Cancel - go back to the list</a>
{% endblock %}