{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Customer'] | join(' ') }}</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="firstName" class="form-control" value="{{customer.firstName}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="lastName" class="form-control" value="{{customer.lastName}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Phone Number:</label>
                <div class="col-sm-5">
                    <input type="text" name="phoneNo" class="form-control" value="{{customer.phoneNo}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Street:</label>
                <div class="col-sm-5">
                    <input type="text" name="street" class="form-control" value="{{customer.street}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-5">
                    <input type="text" name="city" class="form-control" value="{{customer.city}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Province:</label>
                <div class="col-sm-5">
                    <input type="text" name="province" class="form-control" value="{{customer.province}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postal Code:</label>
                <div class="col-sm-5">
                    <input type="text" name="postalCode" class="form-control" value="{{customer.postalCode}}"></input>
                </div>
            </div>                                   
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" id="submitCustomer" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}