{% if customerList %}
    {% for customer in customerList %}
        <tr>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phoneNo}}</td>
            <td>{{customer.street}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.province}}</td>
            <td>{{customer.postalCode}}</td>
            <td>{{customer.createdTS}}</td>
            <td>{{customer.userId}}</td>                        
            <td><a href="/admin/customer/update/{{customer.id}}"><img src="../../image/edit.png" width="20", height="20"></a>
                <a href="/admin/customer/delete/{{customer.id}}" class="confirmation"><img src="../../image/delete.jpg" width="20", height="20"></a>
            </td>                         
        </tr>
    {% endfor %}            
{% endif %}     