{% extends "admin/masterAdmin.html.twig" %}

{% block addItem %}
                        <h1 class="h2">Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                        </div>
                    {% endblock %}

                {% block table %}
                    <div>              
                        <canvas class="my-4 w-100" id="lineChart" width="900" height="380"></canvas>  
                    </div>
                    <div>   
                        {% if categoryList %}
                            {% for category in categoryList %}     
                                <input class="category" type="hidden" value={{category}} />
                            {% endfor %}            
                        {% endif %}  
                        {% if quantityList %}
                            {% for quantity in quantityList %}     
                                <input class="quantity" type="hidden" value={{quantity}} />
                            {% endfor %}            
                        {% endif %} 

                        <canvas class="my-4 w-100" id="pieChart" width="900" height="380"></canvas>  
                    </div>
                {% endblock %}

                {% block js %}
                    <script src="/js/myCharts.js"></script>
                    
                {% endblock %}