{% extends "admin/master.html.twig" %}

{% block title %}Delete Location{% endblock %}

{% block content %}
    <h3>Delete Location</h3>
        Location Name: {{ location.LocationName }}<br>
        Address: {{ [location.street, location.city] | join(" , ") }}<br>
        
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the location">
        </form>
        <a href="/admin/location/list">Cancel - go back to the list</a>
{% endblock %}