<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
    
    {% block head %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">IPD Car Rental</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {#<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span><img src="/image/home.png" width="15", height="15"/>&nbsp&nbsp</span>Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/reservation/list">
                                <span><img src="/image/reservation.png" width="15", height="15"/>&nbsp&nbsp</span>Reservations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category/list">
                                <span><img src="/image/category.png" width="15", height="15"/>&nbsp&nbsp</span>Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/car/list">
                                <span><img src="/image/car.png" width="15", height="15" />&nbsp&nbsp</span>Cars
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/location/list">
                                <span><img src="/image/location.png" width="15", height="15" />&nbsp&nbsp</span>Locations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/customer/list">
                                <span><img src="/image/customer.png" width="15", height="15" />&nbsp&nbsp</span>Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user/list">
                                <span><img src="/image/user.png" width="15", height="15" />&nbsp&nbsp</span>Users
                            </a>
                        </li>
                    </ul>        
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">             
                    {% block buttonAdd %}
                    {% endblock %}
                </div>
                
                <div class="tableDiv" style="height:100%">
                    {% block table %}
                    {% endblock %}
                </div>

{#                <div class="pageDiv">
                    {% if currentPage != 1 %}
                        <a class="pageNav" href="?page={{ currentPage - 1 }}"> Previous </a>
                    {% endif %}

                    {% for page in 1 .. totalPages %}
                        {% if page != currentPage %}
                            <a href="?page={{page}}">{{page}}</a>
                        {% else %}
                            <span>{{page}}</span>
                        {% endif %}
                    {% endfor %}

                    {% if currentPage != totalPages %}
                        <a class="pageNav" href="?page={{ currentPage + 1 }}"> Next </a>
                    {% endif %}
                </div>
#}            </main>

            {% block dialog %}
            {% endblock %}  

        </div>
    </div>    
    
    
    {% block js %}{% endblock %}
</body>
</html>