<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
            
        <link rel="stylesheet" href="/css/masterTemp.css" />

        <title>{% block title %}{% endblock %} - Admin interface</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            <h2>Admin interface</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>