{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Reservation'] | join(' ') }}</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Customer ID:</label>
                <div class="col-sm-5">
                    <input type="text" name="customerId" class="form-control" value="{{reservation.customerId}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Car ID:</label>
                <div class="col-sm-5">
                    <input type="text" name="carId" class="form-control" value="{{reservation.carId}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Start Date/Time:</label>
                <div class="col-sm-5">
                    <input type="text" name="startDateTime" class="form-control" value="{{reservation.startDateTime}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Return Date/Time:</label>
                <div class="col-sm-5">
                    <input type="text" name="returnDateTime" class="form-control" value="{{reservation.returnDateTime}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Actual Return Date/Time:</label>
                <div class="col-sm-5">
                    <input type="text" name="actualReturnDT" class="form-control" value="{{reservation.actualReturnDT}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pick up Location:</label>
                <div class="col-sm-5">
                    <select name="pickupLocationName" class="form-control">
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>                                
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Return Location:</label>
                <div class="col-sm-5">
                    <select name="returnLocationName" class="form-control" value="{{reservation.returnLocationName}}">
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>                
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cost / Day:</label>
                <div class="col-sm-5">
                    <input type="text" name="costPerDay" class="form-control" value="{{reservation.costPerDay}}"></input>
                </div>
            </div>      
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Insurance:</label>
                <div class="col-sm-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"  name="insurance" {{ reservation.insurance == 0 ? '' : 'checked'}}>
                        <label class="form-check-label">With Insurance</label>
                    </div>
                </div>                
            </div>                                
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}