{% extends "admin/masterAdmin.html.twig" %}

{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/admin/reservation/list/','/admin/reservation/list/singlepage/');
        });
    </script>
    
{% endblock %}

{% block addItem %}
    <a href="/reservationAdd"><input type="submit" name="addReservation" value="+ Add Reservatiom"></input></a>
{% endblock %}

{% block table %}
    <h2>Reservations</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Car ID</th>
                    <th>Start Date/Time</th>
                    <th>Return Date/Time</th>
                    <th>Actual Return Date/Time</th>
                    <th>Pick Up Location</th>
                    <th>Return Location</th>
                    <th>Cost / Day</th>
                    <th>Insurance</th>                                                                          
                </tr>
            </thead>
            <tbody id="tableBody">
                                                               
            </tbody>
        </table>
        
        <div class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/admin/reservation/list/','/admin/reservation/list/singlepage/')">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/admin/reservation/list/','/admin/reservation/list/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/admin/reservation/list/','/admin/reservation/list/singlepage/')">Next</span>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure to delete selected entry?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>
{% endblock %}