{% if reservationList %}
    {% for reservation in reservationList %}
        <tr>
            <td>{{reservation.customerId}}</td>
            <td>{{reservation.carId}}</td>
            <td>{{reservation.startDateTime}}</td>
            <td>{{reservation.returnDateTime}}</td>
            <td>{{reservation.actualReturnDT}}</td>
            <td>{{reservation.pickupLocationName}}</td>
            <td>{{reservation.returnLocationName}}</td>
            <td>{{reservation.costPerDay}}</td>
            <td><input type="checkbox" {{ reservation.insurance == 0 ? '' : 'checked'}} onclick="return false"></td>             
            <td><a href="/admin/reservation/update/{{reservation.id}}"><img src="/image/edit.png" width="20", height="20"></a>
                <a href="/admin/reservation/delete/{{reservation.id}}" class="confirmation"><img src="/image/delete.jpg" width="20", height="20"></a>
            </td>                         
        </tr>
    {% endfor %}            
{% endif %}     