{% if userList %}
    {% for user in userList %}
        <tr>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>                                                                                                   
            <td><input type="checkbox" {{ user.isAdmin == 0 ? '' : 'checked'}} onclick="return false"></td>            
            <td><a href="/admin/user/update/{{user.id}}"><img src="/image/edit.png" width="20", height="20"></a>
                <a href="/admin/user/delete/{{user.id}}"><img src="/image/delete.jpg" width="20", height="20"></a>
                
            </td>
        </tr>
    {% endfor %}            
{% endif %}  


