{% extends "admin/masterAdmin.html.twig" %}

{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/admin/user/list/','/admin/user/list/singlepage/');
        });
    </script>
    
{% endblock %}

{% block buttonAdd %}
    <a href="/admin/user/add"><input type="submit" name="addUser" value="+ Add User"></input></a>
    <button id="btnDelete" data-value=1>Show Popup</button>
    
{% endblock %}

{% block table %}
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr class="table-secondary">
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Admin</th> 
                    <th></th>                   
                </tr>
            </thead>
            <tbody id="tableBody">
                                                                                       
            </tbody>
        </table>  

        <div class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/admin/user/list/','/admin/user/list/singlepage/' )">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/admin/user/list/','/admin/user/list/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/admin/user/list/','/admin/user/list/singlepage/')">Next</span>
        </div> 
    </div>
{% endblock %}

{% block js %}
<script>
/*    $(document).ready(function(){
        var passedValue;
        $("#dialogConfirm").dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete": function() {
                    alert("passed values is :"+ passedValue); 

                    $( this ).dialog( "close" );
                },
                Cancel: function() {
                $( this ).dialog( "close" );
                }
            }
        });

        $("#btnDelete").click(function(){
            passedValue = $(this).data("value");
        
            $("#dialogConfirm" ).dialog("open");
        });
    });
    <div id="dialogConfirm" style="display: none" align = "center">
        Are you sure to delete selected item?
    </div>
    <button class="btn-delete" data-value={{user.id}}>Show Popup</button>*/
</script>

{% endblock %}