{% extends "admin/masterAdmin.html.twig" %}


{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
        
    <h2>{{[action, 'User'] | join(' ') }}</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">            
            <div class="form-group row">
                <div class="col-sm-2">Is Admin:</div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"  name="isAdmin" {{ user.isAdmin == 0 ? '' : 'checked'}}>
                        <label class="form-check-label">Admin</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="userName" id="userName" class="form-control" value="{{user.userName}}"></input>
                </div>
                <span class="error" id="userNameError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-5">
                    <input type="text" name="email" id="email" class="form-control" value="{{user.email}}"></input>
                </div>
                <span class="error" id="emailError"></span> 
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-5">
                    <input type="text" name="password" id="password" class="form-control" value="{{user.password}}"></input>
                </div>
                <span class="error" id="passwordError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password(Repeat):</label>
                <div class="col-sm-5">
                    <input type="text" name="passwordRepeat" id="passwordRepeat" class="form-control" value="{{user.password}}"></input>
                </div>
                <span class="error" id="passwordRepeatError"></span>
            </div>
            <div class="row">
                <div class="col-sm-7 mx-auto" style="width: 300px;">
                    <input type="submit" name="submit" id="submitUser" value="{{action}}" class="btn btn-secondary mr-5" style="width: 100px;"></input>
                    <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="../js/userFormValidation.js"></script>
{% endblock %}