{% extends "admin/master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <p>Access denied</p>
    <p>Access denied. You were spammed.
        <a href="/">Click to continue</a>.</p>
{% endblock %}