{% extends "booking/masterBooking.html.twig" %}

{% block title %}Booking Step2{% endblock %}

{% block head %}    
{% endblock %}

{% block content %}     
    <div class="row form-responsive">
        <div class="col"></div>
        <div class="col-11 col-md-10 col-lg-9 border border-light rounded px-2">
            <form method="post" class="form form-sm mt-2" {% block formAction %} {% endblock %}>
                
                {% block step %}
                {% endblock %} 

                {% block filterAndSorter %}
                {% endblock %}
                                    
                <div class="row mt-2">
                    <div class="col-4 mt-2">
                        <div class="border border-light rounded mt-2 p-1 bg-light">
                            <h5>Booking Details</h5>
                        </div>
                        <div class="border border-light rounded mt-2 p-1">
                            <div class="row mt-1 pl-1">
                                <div class="col-8"><b>Time And Place</b></div>
                                <div class="col-4"><a href="/booking/step1">Change</a></div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Pick up:</div>
                                <div class="col-8">
                                    <p>{{booking.pickupLocation.street}}</p>
                                    <p>{{booking.pickupLocation.city}}</p>
                                    <p>{{[booking.pickupDate, booking.pickupTime] | join(' , ')}}</p>                            
                                </div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Return:</div>
                                <div class="col-8">
                                    <p>{{booking.returnLocation.street}}</p>
                                    <p>{{booking.returnLocation.city}}</p>
                                    <p>{{[booking.returnDate, booking.returnTime] | join(' , ')}}</p>                            
                                </div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Rental Duration:</div>
                                <div class="col-8">
                                    <p>{{booking.strDuration}}</p>                                                        
                                </div>
                            </div>

                            {% block selectedCarDetail %}
                            {% endblock %}

                        </div>
                    </div>

                    {% if stepNo == 2 %} 
                        {% block table2 %}     
                            <div class="col-8 table-responsive">
                                <table id="carCategoryListing" class="table">
                                {#    {% if categoryList %}
                                        {% for category in categoryList %}
                                            <tr class="border border-light rounded">
                                                <td class="form-responsive">
                                                    <form method="post" class="form form-sm" action="/booking/step3/{{category.id}}">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <img src={{category.photoFilePath}} width="154" height="98" class="img-responsive"/>
                                                            </div>
                                                            <div class="col-5">
                                                                <h5>{{category.categoryName}}</h5>
                                                                <p>Example of this range:</p>
                                                                <p>{{category.carExample}}</p>
                                                            </div>
                                                            <div class="col-3 text-center">
                                                                <div class="bg-light text-center">
                                                                    <p>Total Price:</p>
                                                                    <p><b>{{'$CAD ' ~ category.costPerDay * booking.duration.d ~ '.00'}}</b></p>
                                                                </div>
                                                                <input type="submit" name="continue" value="CONTINUE" class="btn-sm btn-primary">
                                                            </div>
                                                    </form>
                                                </td>                                    
                                            </tr>
                                        {% endfor %}            
                                    {% endif %}   #}
                                </table>
                            </div>
                        {% endblock %}                    
                    {% elseif (stepNo == 3 or stepNo == 4) %}
                        {% block table3 %}     
                            <div class="col-8 mt-2 table-responsive">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Rental Duration</b>
                                            </td>
                                            <td class="text-right">
                                                <p>{{booking.strDuration}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Price Per Day</b><span></br>
                                                {% if booking.duration.d != 0 %}
                                                    <p>{{booking.duration.d ~ " Day X $CAD " ~ category.costPerDay}}</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ category.costPerDay * booking.duration.d ~ ".00"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Price Per Hour</b><span></br>
                                                {% if booking.duration.h != 0 %}
                                                    <p>{{booking.duration.h ~ " Hour X $CAD " ~ category.costPerDay * 0.1 ~ ".00"}}</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ category.costPerDay * 0.1 * booking.duration.h ~ ".00"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Car Rental Fee</b><span></br>
                                                <p>{{"$CAD " ~ category.costPerDay * booking.duration.d ~ ".00"}}
                                                {% if booking.duration.h != 0 %}
                                                    {{" + " ~ "$CAD " ~ (category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                                                {% endif %}        
                                                </p>    
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Insurance Fee</b><span></br>
                                            </td>
                                            <td class="text-right">                        
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Sub-total</b><span></br>
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-danger"><b>Total Price<b><pan></br>
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span><b>Required Deposit<b><pan></br>
                                                <p>{{"10% of " ~ "$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                                            </td>
                                            <td class="text-right">
                                                {{"$CAD " ~ ((category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) * 0.1) ~ ".00"}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% if stepNo == 3 %}
                                    <input type="submit" name="continue" value="CONTINUE" class="btn-sm btn-primary">
                                {% elseif stepNo == 4 %}
                                    <input type="hidden" name="deposit" value="{{(category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) * 0.1}}">              
                                {% endif %}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>  

                {% block personInfo %} 
                {% endblock %}
                          
            </form>
        </div>
        <div class="col"></div>    
    </div>
{% endblock %}
