{% extends "booking/masterBooking2.html.twig" %}

{% block title %}Booking Step3{% endblock %}

{% block head %}    
{% endblock %}

{% block formAction %} 
    action="/booking/step4"
{% endblock %}

{% block step %}
    <div class="bg-light p-2 pl-3">
        <h4>Step 3: Price And Insurance</h4>
    </div>
{% endblock %}

{% block selectedCarDetail %}
    <div class="row mt-3 pl-1">
        <div class="col-8"><b>Car Type</b></div>
        <div class="col-4"><a href="/booking/step2">Change</a></div>
    </div>
    <div class="row mt-1 pl-1">
        <div class="col-4">
            <img src={{'../' ~ category.photoFilePath}} width="72" height="49" class="img-responsive"/>
        </div>
        <div class="col-8">
            <p>{{category.categoryName}}</p>
            <p>{{"Example of this range: "}}</p>
            <p>{{category.carExample}}</p>                                                            
        </div>
    </div>
{% endblock %}

{#
{% block table %}     
    <div class="col-8 mt-2 table-responsive">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td>
                        <b>Rental Duration</b>
                    </td>
                    <td class="text-right">
                        <p>{{booking.strDuration}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Price Per Day</b><span></br>
                        {% if booking.duration.d != 0 %}
                            <p>{{booking.duration.d ~ " Day X $CAD " ~ category.costPerDay ~ ".00"}}</p>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ category.costPerDay * booking.duration.d ~ ".00"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Price Per Hour</b><span></br>
                        {% if booking.duration.h != 0 %}
                            <p>{{booking.duration.h ~ " Hour X $CAD " ~ category.costPerDay * 0.1 ~ ".00"}}</p>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ category.costPerDay * 0.1 * booking.duration.h ~ ".00"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Car Rental Fee</b><span></br>
                        <p>{{"$CAD " ~ category.costPerDay * booking.duration.d ~ ".00"}}
                        {% if booking.duration.h != 0 %}
                            {{" + " ~ "$CAD " ~ (category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                        {% endif %}        
                        </p>    
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Insurance Fee</b><span></br>
                    </td>
                    <td class="text-right">                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Sub-total</b><span></br>
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-danger"><b>Total Price<b><pan></br>
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Required Deposit<b><pan></br>
                        <p>{{"10% of " ~ "$CAD " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) ~ ".00"}}
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ ((category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) * 0.1) ~ ".00"}}
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" name="continue" value="CONTINUE" class="btn-sm btn-primary">
    </div>
{% endblock %}
#}
