{% extends "master.html.twig" %}

{% block title %}Forgot password{% endblock %}
{% block head %}
<link rel="stylesheet" href="./css/loginregister.css" />{% endblock %}

{% block content %} 
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="wrap">
        <form method="post">
            <h1>Reset your password</h1>
            <p>An email will be send to you with instructions on how to reset your password.</p> 
            <label>Email:</label>
            <input type="text" name="email" placeholder="Enter your email address" value="{{ v.email }}"></input>
            <input type="submit" name="reset-request-submit"  class="btn btn-secondary" style="width: 100px;"></input>                                
        </form>
    </div>
{% endblock %}
