{% extends "master.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        $(document).ready(function(){
            $("#postalcodeSearch").click(function(){
                var postalcode = $("#postalcode").val();
                window.location.href="/chooseRentalPlace/"+ postalcode;
            });
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
	<style>
		.booking {
			background: #f2f2f2;
			width: 100%;
			margin-top: 80px;
			height: 10%;
			text-align: center;
			padding-top: 10px;
		}

		.booking input {
			width: 300px;
			height: 70px;
			border: none;
			background: #fe4c50;
			color: #FFFFFF;
			font-size: 24px;
			font-weight: 500;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 25px;
		}
		.booking input:hover {
			background: #FE7C7F;
		}
	</style>
{% endblock %}

{% block content %}
    <!-- Slider --> 
    <div class="main_slider" style="background-image:url(../image/slider_1.jpg)">
    </div><!--
<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Rental Place</h4>
						<p>You can search the nearest location by PostCode</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post" action="/chooseRentalPlace">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" name="postalcode"  id="postalcode" type="text" placeholder="H8N 1N4" required="required" data-error="Valid email is required.">
							<button type="submit" class="newsletter_submit_btn trans_300" value="Submit"  id="postalcodeSearch">search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>-->
	<div class="booking">
	
	 {% if userSession %}
		<a href="/booking/step1"><input type="submit" name="booking" value="Booking a car"></input></a>                                                                  
			{% else %}
			Please Login first
			<a href="/login"><input type="submit" name="booking" value="Booking a car"></input></a>
			{% endif %}
	</div>
	<!-- Banner -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_1.webp)">	
					</div>
					<div class="banner_category">
						<a>C$ 36/day  &nbsp&nbsp&nbsp&nbsp&nbsp<b>Economy</b></a>
					</div>
                    <p>2 Adults, 2 Bags</p>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_2.jpg)"></div>
					<div class="banner_category">
						<a>C$ 32/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Compact</b></a>
					</div>
                    <p>4 Adults, 2 Bags</p>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_3.webp)"></div>
					<div class="banner_category">
						<a>C$ 41/day &nbsp&nbsp&nbsp<b>Intermediate</b></a>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_4.webp)"></div>
					<div class="banner_category">
						<a>C$ 36/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Standard</b></a>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_5.jpg)"></div>
					<div class="banner_category">
						<a>C$ 35/day &nbsp&nbsp&nbsp<b>Full-size</b></a>
					</div>
                    <p>4 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_6.jpg)"></div>
					<div class="banner_category">
						<a>C$ 66/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Minivan</b></a>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_7.webp)"></div>
					<div class="banner_category">
						<a>C$ 83/day &nbsp<b>Full-size SUV</b></a>
					</div>
                    <p>5 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_8.webp)"></div>
					<div class="banner_category">
						<a>C$ 40/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Premium</b></a>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_9.png)"></div>
					<div class="banner_category">
						<a>C$ 150/day <b>Pass Van</b></a>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_10.jpg)"></div>
					<div class="banner_category">
						<a>C$ 93/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Luxury</b></a>
					</div>
                    <p> 5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_11.jpg)"></div>
					<div class="banner_category">
						<a>C$ 55/day &nbsp&nbsp&nbsp<b>Pickup Truck</b></a>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_12.jpg)"></div>
					<div class="banner_category">
						<a>C$ 160/day &nbsp&nbsp&nbsp<b>Premium SUV</b></a>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_13.webp)"></div>
					<div class="banner_category">
						<a>C$ 35/day &nbsp&nbsp&nbsp<b>Compact SUV</b></a>
					</div>
                    <p> 4 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_14.png)"></div>
					<div class="banner_category">
						<a>C$ 87/day &nbsp&nbsp<b>Luxury SUV</b></a>
					</div>
                    <p> 5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_15.webp)"></div>
					<div class="banner_category">
						<a>C$ 44/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Commercial</b></a>
					</div>
                    <p> 5 Adults, 3 Bags</p>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
