<html>
    <head>        
        <!---<link rel="stylesheet" href="../css/admin.css" />-->
		<script src="../js/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="../css/bootstrap4/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="../css/main_styles.css">
	    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
		<style>
			.footer
			{
				width: 100%;
				background-color: #f2f2f2;;
				text-align: center;
				position: relative;
				left: 0;
				bottom: 0;
			}
		</style>
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
    <div class="super_container">
    <!-- Top Navigation -->

		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">Right Equipment, Lowest Cost. Guaranteed. We're Here! IPD Car Rental help you</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">

								<!-- Language / My Account -->
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="#">French</a></li>
									</ul>
								</li>
								<li class="account">
                                 	{% if userSession %}
                                   		<b style="color:red">{{userSession.userName}}</b>
								   		{% if userSession.isAdmin %}
								   		<span><a href="/admin">Access Admin Interface</a></span>                                                                  
										{% endif %}
								    {% else %}
										<a href="/login">
											My Account
											<i class="fa fa-angle-down"></i>
										</a>
                                    {% endif %}									
								</li>
                                {% if userSession %}
                                	<li class="language">
										<a href="/logout">Logout<i class="fa fa-angle-down"></i></a>
									</li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						{#<div class="logo_container">
							<a href="#">Car<span>Rental</span></a>
						</div>#}
						<nav class="navbar">
							<ul class="navbar_menu">
								<li><a href="/">home</a></li>
                                <li><a href="">about us</a></li>
								<li><a href="#">contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a href="#">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#">French</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a href="#">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a href="#">home</a></li>
				<li class="menu_item"><a href="#">promotion</a></li>
				<li class="menu_item"><a href="#">contact</a></li>
			</ul>
		</div>
	</div>
        <div id="centeredContent">
			{% block content %}
				
			{% endblock %}
        </div>
        <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="/questions">FAQs</a></li>
							<li><a href="/contactus">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">© All Rights Reserverd Hong And ChunJie</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
    </div>
    </body>
</html>