{% extends "masterAdmin.html.twig" %}

{% block table %}
    <h2>User Update</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">
            <label>Is Admin:</label>
            <input type="checkbox" name="isAdmin" {{ user.isAdmin == 0 ? '' : 'checked'}}>Admin</input><br>
            <label>User Name:</label>
            <input type="text" name="userName" value={{user.userName}}></input><br>
            <label>Email:</label>
            <input type="text" name="email" value={{user.email}}></input><br>
            <label>Password:</label>
            <input type="text" name="password" value={{user.password}}></input><br>
            <input type="submit" name="save" value="Save"></input>
            <input type="submit" name="cancel" value="Cancel"></input>
        </form>
    </div>

{% endblock %}