<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Jekyll v4.0.1">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-fixed/">
	<link rel="stylesheet" href="/public/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/080dc797b0.js" crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script type="module" src="/public/js/publicFunction.js"></script>

	<title>
		{% block title %}{% endblock %}
	</title>
	{% block head %}{% endblock %}
	<script>
		fetch("/cart/getcount").then(
			response => response.json().then(function (data) {
					console.log(data);
					$('#lblCartCount').html(data.response);
				}
			))
			.catch(function (err) {
				console.log('Fetch Error :-S', err);
			});
		fetch("/borrow/getcount").then(
			response => response.json().then(function (data) {
					console.log(data);
					$('#lblBorrowCount').html(data.response);
				}
			))
			.catch(function (err) {
				console.log('Fetch Error :-S', err);
			});	
	</script>


</head>

<body class="position-relative">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0">
		<a class="navbar-brand ml-5 w-25" href="#"><img class="w-25"
				src="https://bibliotheque.brossard.ca/in/rest/annotationSVC/Attachment/attach_cmsUpload_b092c9cd-02db-46aa-a60e-45fa5a3f9c2d"
				alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mr-4" id="navbarCollapse">
			<ul class="navbar-nav ml-auto align-items-center">
				{% if privilige==1 %}
				<li class="nav-item active">
					<a class="nav-link text-light" href="/bookload">
						<i class="fa fa-plus-circle"></i>
					</a>
				</li>
				{% endif %}

				<li class="nav-item active">
					<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i
							class="fa fa-globe fa-1x"></i></a>
				</li>
				<li class="nav-item active">
					<a href="/cart/cartpersonalpage" class="nav-link">
						<i class="fa fa-cart-arrow-down fa-1x" aria-hidden="true"></i>
						<span class='badge badge-warning' id='lblCartCount'> </span>
					</a>
				</li>
				<li class="nav-item active">
					<a href="/borrowlist/borrowlistpage" class="nav-link">
						<i class="fa fa-book fa-1x" aria-hidden="true"></i>
						<span class='badge badge-warning' id='lblBorrowCount'> </span>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar bg-info">
			{% if user %}
			<a class="nav-link text-light" href="/personal"><i class="fa fa-user-circle fa-2x"></i>
				<i>{{user}}</i>
			</a>
			{% else %}
			<a class="nav-link text-light" href="/login"><i class="fa fa-user-circle fa-2x"></i>
				<i>My Account</i>
			</a>
			{% endif %}
		</div>
	</nav>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light bg-ligth p-0">
			<a class="navbar-brand ml-0 w-50" href="#"><img class="w-50"
					src="https://bibliotheque.brossard.ca/in/rest/annotationSVC/Attachment/attach_cmsUpload_24e07cf9-8333-4a68-ae62-195e731dc5bb"
					alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/about">ABOUT
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">SERVICES</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">ACTIVITIES</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">COLLECTIONS
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">SPACES</a>
					</li>
				</ul>
			</div>

		</nav>
	</div>
	{% block content %}{% endblock %}
	<div id="footer">

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>

	</div>
	<div class="mt-5  pt-3 pb-0 footer bg-dark">

		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-xs-12 about-company">
					<h4>Heading</h4>
					<p class="pr-5 text-white-50">A library is a curated collection of sources of information and similar resources, selected by experts.
					</p>

					<p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
								class="fa fa-linkedin-square"></i></a></p>
				</div>
				<div class="col-lg-3 col-xs-12 links">
					<h5 class="mt-lg-0 mt-sm-3">Links</h5>
					<ul class="m-0 p-0">
						<li>- <a href="#">Your advice</a></li>
						<li>- <a href="#">Donation Book</a></li>
						<li>- <a href="#">Volunteer</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-xs-12 location">
					<h5 class="mt-lg-0 mt-sm-4">Location</h5>
					<p>7855 Avenue San Francisco, Brossard, QC J4X 2A4</p>
					<p class="mb-0"><i class="fa fa-phone mr-3"></i>(450) 923-6350</p>
					<p><i class="fa fa-envelope-o mr-3"></i>info@brossard.com</p>
				</div>
			</div>
			<div class="row mt-1">
				<div class="col copyright">
					<p class=""><small class="text-white-50">© 2020. All Rights Reserved by Chang.</small></p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>